<div class="about__wrapper">
  <div class="about__body">
    <div class="about__bg__line">
      <img
        src="../../../scss/lib/pics/home/про нас/Vector 1/головна.png"
        alt="curved line"
      />
    </div>
    <div class="about__img__left">
      <div class="circle"></div>
      <div class="circle__img__above">
        <img
          src="../../../scss/lib/pics/home/про нас/Ellipse 3.png"
          alt="a dog"
        />
      </div>
    </div>
    <p class="about__tittle">Про нас</p>
    <p class="about__subtittle">
      Наша місія – дати другий шанс кожній тварині та повернути її до безпечного
      й люблячого середовища.
    </p>
    <p class="about__text">
      Ми організовуємо рятувальні операції, надаємо ветеринарну допомогу,
      тимчасовий притулок та допомагаємо знайти нові домівки для покинутих
      тварин. Об'єднуючи волонтерів, донорів і небайдужих людей, ми створюємо
      краще майбутнє для тих, хто не може захистити себе сам.
    </p>
    <div class="about__img__right">
      <img src="../../../scss/lib/pics/home/про нас/кнопка.png" alt="arrow" />
    </div>
  </div>
</div>
