<div class="home">
  <div class="home__tittle">
    <div class="home__img__big">
      <div class="home__img__angle-border-bg"></div>
      <img
        src="../../../scss/lib/pics/home/банер/Rectangle 1.png"
        alt="dog picture"
      />
    </div>
    <div class="tittle">
      <p class="tittle__home tittle__home__long">
        Давайте <span class="tittle__text__italic">разом</span> рятувати
      </p>
      <div class="tittle__obj"></div>

      <p class="tittle__home tittle__home__short">життя тварин,</p>
      <p class="tittle__home tittle__home__long">постраждалих від війни</p>
      <div class="tittle__btn">
        <button class="btn btn__help__animals">Допомогти тваринам</button>
      </div>
      <div class="home__img__small">
        <div class="home__img__angle-border-sm"></div>
        <img
          src="../../../scss/lib/pics/home/банер/фото2/Rectangle 3.png"
          alt="dog picture"
        />
      </div>
    </div>
    <div class="curved__line">
      <img
        class="img__curved__line"
        src="../../../scss/lib/pics/home/Vector 1/головна.png"
        alt=""
      />
    </div>
  </div>
</div>
<div class="adv">
  <app-advertisment></app-advertisment>
</div>
