$color-orange-red: #ff5e00;
$color-orange-normal: #ff9200;
$color-pink: #ff8599;
$color-blue: #61c2ff;
$color-gray-light: #c9c9c9;
$color-gray-medium: #a2a2a2;

// colors scheme picked up from figma
$color-bg-body: #f5f5dc;
$color-logo: #78a3ad;
$color-main-black: #000000;
$color-main-dark-blue: #1c2354; //button bg and main title
$color-btn-text: #f8f8f8;
$color-arrows: #283593;
$color-active: #c1121f;
$color-white: #ffffff;
$color-bg-input: #e0ecf4;
$color-orange-border: #da4078;
$color-light-brown: #753d49;
