// colors scheme picked up from figma
$color-bg-body: #f5f5dc;
$color-logo: #78a3ad;
$color-main-black: #000000;
$color-main-dark-blue: #1c2354; //button bg and main title
$color-btn-text: #f8f8f8;
$color-arrows: #283593;
$color-active: #c1121f;
$color-white: #ffffff;
$color-bg-input: #e0ecf4;
$color-orange-border: #da4078;
$color-light-brown: #753d49;
$color-light-blue: #457b9d;
$color-text-dgrey: #424242;
$color-bg-btn-white: #f1f9ff;
$color-text-btn-blue: #1e2a81;
$color-shadow-dark: #42424240;
$color-shadow-blue: #1627a4;
$color-bg-circle-blue: #7a9cd2;
