<div class="adv__wrapper">
  <div class="adv__support">
    <p class="adv__tittle">Підтримайте організацію</p>
    <p class="adv__text">
      Для досягнення наших цілей у підтримці, евакуації тварин, нам потрібна
      Ваша допомога
    </p>
    <div class="adv__button">
      <button class="btn btn__adv">Надати допомогу</button>
    </div>
  </div>
  <div class="adv__img">
    <img
      src="../../../scss/lib/pics/home/exclamation-mark.png"
      alt="exclamation mark"
    />
  </div>
  <div class="adv__help">
    <p class="adv__tittle">Потрібна допомога?</p>
    <p class="adv__text">
      Якщо Вам потрібна допомога, ми будем раді Вам допомогти
    </p>
    <div class="adv__button">
      <button class="btn btn__adv">Отримати допомогу</button>
    </div>
  </div>
</div>
